certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
Flask==0.12.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
pycparser==2.18
requests==2.19.1
smbus-cffi==0.5.1
urllib3==1.23
Werkzeug==0.14.1
